# Secrets
secrets/

# Data directories
pgdata/
redisdata/
prometheus/data/
grafana/data/
node_modules/
backups-borg/
backups/

# Logs
*.log

# Environment
.env

# Python
__pycache__/
*.pyc
.venv/

targets.txt
git-purge-ignored.sh

forgejo-github-mirror-pat.txt