# Secrets
secrets/

# Data directories
pgdata/
redisdata/
prometheus/data/
grafana/data/
node_modules/
# Environment
.env

# Python
__pycache__/
*.pyc

targets.txt
git-purge-ignored.sh

forgejo-github-mirror-pat.txt